html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  background-image: url("../img/mountain_reflection.jpg");
  background-color: #273045;
  background-size: cover;
  background-attachment: fixed;
}

main {
  height: 100%;
}

nav {
  z-index: 100;
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
}

nav h5 {
  font-family: 'Ovo', serif;
}

nav h5, nav h6 {
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 50%;
  float: right;
}

nav ul li {
  margin: 1% 2% 0 2%;
  float: right;
  display: inline-block;
}

header {
  margin-top: 10%;
  /*height: 28%;*/
  height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

ul {
  list-style-type: disc;
}

h1 {
  color: #204BAD;
  font-family: 'Ovo', serif;
  font-variant: small-caps;
}

a {
  text-decoration: none;
}

article {
  height: 54%;
}

section {
  background: linear-gradient(0deg, rgba(39, 48, 69, .2), rgba(39, 48, 69, .8));
  padding: 2%;
  height: 100%;
}

@media (max-width: 640px) {
  section {
    height: auto;
  }
}
